type aal_als_device, dev_type;
type accdet_device, dev_type;
type aed_device, dev_type;
type aee_core_forwarder_exec , exec_type, file_type;
type agpsd_socket, file_type;
type agps_device, dev_type;
type akmd09911_exec , exec_type, file_type;
type akmd8963_exec , exec_type, file_type;
type akmd8975_exec , exec_type, file_type;
type als_ps_device, dev_type;
type ami304d_exec , exec_type, file_type;
type android_device, dev_type;
type atcid_exec , exec_type, file_type;
type atci_service_exec , exec_type, file_type;
type audiocmdservice_atci_exec , exec_type, file_type;
type autokd_exec, exec_type, file_type;
type batterywarning_exec , exec_type, file_type;
type BGW_exec , exec_type, file_type;
type bmm050d_exec , exec_type, file_type;
type BOOT_device, dev_type;
type boot_logo_updater_exec, exec_type, file_type;
type btif_device, dev_type;
type c2k_file, file_type, data_file_type;
type camera_fdvt_device, dev_type;
type camera_isp_device, dev_type;
type CAM_CAL_DRV_device, dev_type;
type ccci_cfg_file, file_type, data_file_type;
type ccci_device, dev_type;
type ccci_fsd_exec, exec_type, file_type;
type ccci_mdinit_exec , exec_type, file_type;
type ccci_monitor_device, dev_type;
type cpu_dma_latency_device, dev_type;
type devmap_device, dev_type;
type dhcp6c_exec , exec_type, file_type;
type dmlog_exec , exec_type, file_type;
type dm_agent_binder_exec , exec_type, file_type;
type emdlogger_exec , exec_type, file_type;
type em_svr_exec , exec_type, file_type;
type expdb_block_device, dev_type;
type fm_device, dev_type;
type fuelgauged_exec , exec_type, file_type;
type gas_srv_exec, exec_type, file_type;
type ged_srv_exec, exec_type, file_type;
type geomagneticd_exec , exec_type, file_type;
type gsensor_device, dev_type;
type gsm0710muxdmd2_exec , exec_type, file_type;
type gsm0710muxd_device, dev_type;
type gsm0710muxd_exec , exec_type, file_type;
type guiext-server_exec, exec_type, file_type;
type gyroscope_device, dev_type;
type gyroscope_mpud6050_chipinfo, fs_type,sysfs_type;
type gyroscope_mpud6050_status, fs_type,sysfs_type;
type gyroscope_mpud6050_use, fs_type,sysfs_type;
type hotknot_device, dev_type;
type hwmsensor_device, dev_type;
type icusb_device, dev_type;
type irtx_device, dev_type;
type kd_camera_flashlight_device, dev_type;
type kd_camera_hw_bus2_device, dev_type;
type kd_camera_hw_device, dev_type;
type kpoc_charger_exec, exec_type, file_type;
type logmisc_data_file, file_type, data_file_type;
type logo_block_device, dev_type;
type loop-control_device, dev_type;
type lost_found_data_file, file_type, data_file_type;
type MAINAF_device, dev_type;
type matv_exec , exec_type, file_type;
type mc6420d_exec , exec_type, file_type;
type mdlogger_exec , exec_type, file_type;
type mdlog_device, dev_type;
type md_ctrl_exec, exec_type, file_type;
type memsicd3416x_exec , exec_type, file_type;
type memsicd_exec , exec_type, file_type;
type misc2_block_device, dev_type;
type misc_sd_device, dev_type;
type fingerprint_device, dev_type;
type mnld_exec, exec_type, file_type;
type mnld_socket, file_type;
type mobicore_data_file, file_type, data_file_type;
type mobile_log_d_exec , exec_type, file_type;
type msensord_daemon, fs_type,sysfs_type;
type msensord_exec , exec_type, file_type;
type msensor_device, dev_type;
type mtgpio_device, dev_type;
type mtk-adc-cali_device, dev_type;
type MtkCodecService_exec , exec_type, file_type;
type mtkrildmd2_exec , exec_type, file_type;
type mtkrild_exec , exec_type, file_type;
type mtk_6620_launcher_exec , exec_type, file_type;
type mtk_agpsd_exec , exec_type, file_type;
type mtk_kpd_device, dev_type;
type mtk_sched_device, dev_type;
type MTK_SMI_device, dev_type;
type muxreport_exec , exec_type, file_type;
type m_acc_misc_device, dev_type;
type m_mag_misc_device, dev_type;
type netdiag_exec , exec_type, file_type;
type netdiag_socket, file_type;
type network_device, dev_type;
type nfc_socket, file_type;
type nvdata_device, dev_type;
type nvdata_file, file_type, data_file_type;
type nvram_agent_binder_exec , exec_type, file_type;
type nvram_daemon_exec , exec_type, file_type;
type nvram_data_file, file_type, data_file_type;
type nvram_device, dev_type;
type offloadservice_device, dev_type;
type orientationd_exec , exec_type, file_type;
type para_block_device, dev_type;
type persist_block_device, dev_type;
type persist_data_file, file_type, data_file_type;
type pmic_ftm_device, dev_type;
type ppl_agent_exec , exec_type, file_type;
type pppd_dt_exec , exec_type, file_type;
type ppp_data_file, file_type, data_file_type;
type pq_exec , exec_type, file_type;
type program_binary_exec, exec_type, file_type;
type protect_f_data_file, file_type, data_file_type;
type protect_s_data_file, file_type, data_file_type;
type ptyp_device, dev_type;
type radvd_data_file, file_type, data_file_type;
type resize_exec, exec_type, file_type;
type rild2_socket, file_type;
type rild3_socket, file_type;
type rild4_socket, file_type;
type rild_atci_socket, file_type;
type rild_ims_socket, file_type;
type rild_mal_at_socket, file_type;
type rild_mal_socket, file_type;
type rild_mtk_modem_socket, file_type;
type rild_mtk_ut_2_socket, file_type;
type rild_mtk_ut_socket, file_type;
type rild_oem_socket, file_type;
type rild_vsim_socket, file_type;
type RT_Monitor_device, dev_type;
type s62xd_exec , exec_type, file_type;
type seccfg_block_device, dev_type;
type secro_block_device, dev_type;
type sensor_data_file, file_type, data_file_type;
type slpd_exec, exec_type, file_type;
type sn_exec , exec_type, file_type;
type spm_device, dev_type;
type spm_loader_exec , exec_type, file_type;
type stpbt_device, dev_type;
type stpgps_device, dev_type;
type stpwmt_device, dev_type;
type stp_dump3_exec , exec_type, file_type;
type SUBAF_device, dev_type;
type sw_sync_device, dev_type;
type sysfs_keypad_file, file_type,sysfs_type;
type tee_block_device, dev_type;
type terservice_exec , exec_type, file_type;
type thermald_exec , exec_type, file_type;
type thermalloadalgod_exec , exec_type, file_type;
type thermal_exec , exec_type, file_type;
type thermal_manager_data_file, file_type, data_file_type;
type thermal_manager_exec , exec_type, file_type;
type touch_device, dev_type;
type tpd_em_log_device, dev_type;
type ttyGS_device, dev_type;
type ttyMT_device, dev_type;
type ttyp_device, dev_type;
type tune2fs_exec, exec_type, file_type;
type uinput_device, dev_type;
type Vcodec_device, dev_type;
type vtservice_exec , exec_type, file_type;
type wide_dhcpv6_data_file, file_type, data_file_type;
type wifi2agps_exec , exec_type, file_type;
type wmtdetect_device, dev_type;
type wmtWifi_device, dev_type;
type wmt_loader_exec , exec_type, file_type;
type wpa_supplicant_data_file, file_type, data_file_type;
type wpa_wlan0_socket, file_type;
type xlog_device, dev_type;
type xlog_exec , exec_type, file_type;
type xt_qtaguid_device, dev_type;
type zram0_device, dev_type;
type flashinfo_block_device, dev_type;
type keystore_block_device, dev_type;
type lk_block_device, dev_type;
type lk2_block_device, dev_type;
type md1arm7_block_device, dev_type;
type md1dsp_block_device, dev_type;
type md1img_block_device, dev_type;
type md3img_block_device, dev_type;
type oemkeystore_block_device, dev_type;
type ppl_block_device, dev_type;
type protect1_block_device, dev_type;
type protect2_block_device, dev_type;
type mnl_file, file_type, data_file_type;
type mdlogger_data_file, file_type, data_file_type;