#
# Changes that UMI/MTK made to /init.rc, keeping them separate to keep
# the init.mt6755.rc file closer to stock.
#

on init

    write /proc/bootprof "INIT: on init start"

    #agold shipeilong add for persdata start[20151217] 
    mkdir /persdata 0750 system system 		
    mkdir /persdata/fingerprint 0750 system system		
    # if SE linux is enabled, this command is also required 		
    # restorecon_recursive /persdata/fingerprint		
    #agold shipeilong add end

on post-fs
    #agold shipeilong add for persdata start[20151217]
    chown system system /persdata/fingerprint
    chmod 0750 /persdata/fingerprint
    # if SE linux is enabled, this command is also required 
    restorecon_recursive /persdata/fingerprint
    #agold shipeilong add end


service_redefine drm /system/bin/drmserver.samsung
    class main
    user drm
    group drm system inet drmrpc sdcard_rw media_rw

service_redefine media /system/bin/mediaserver
    class main
    user media
    group audio camera inet net_bt net_bt_admin net_bw_acct drmrpc mediadrm qcom_diag sdcard_r system net_bt_stack sdcard_rw
    ioprio rt 4